@font-face {
    font-family: Lato;
    src: url(./assets/fonts/Lato-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato;
}

header {
    height: 7vh;
    display: flex;
    align-items: center;
    gap: 5vw;
}

header h1::before {
    padding-left: 50px;
    /* margin-left: 100px; */

    content: url(./assets/images/logo.png);
}

header h1 {
    margin-left: 10px;
}
header nav {
    display: flex;
    gap: 20px;
}

header div {
    display: flex;
    gap: 40vw;
}

header nav a {
    text-decoration: none;
    opacity: 0.8;
    color: black;
}

/* section {
    background-color: #d9e8e5;
    height: 92vh;
}

section div {
    padding-top: 150px;
    padding-left: 100px;

    display: flex;
    flex-direction: column;
}

section div article {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
} */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
    width: 340px;
    height: 230px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

main {
    background-color: #d9e8e5;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

main h2 {
    margin-left: 50px;
}

.gallery {
    margin-left: 100px;
}

.gallery div p {
    padding-bottom: 10px;
    padding-right: 10px;
}

/* BG Images */
.item1 {
    background-image: url(./assets/images/ring1.png);
}

.item2 {
    background-image: url(./assets/images/ring2.png);
}

.item3 {
    background-image: url(./assets/images/ring3.png);
}

.item4 {
    background-image: url(./assets/images/ring4.png);
}

.item5 {
    background-image: url(./assets/images/ring5.png);
}

.item6 {
    background-image: url(./assets/images/ring6.png);
}
