* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
