* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* font-size: 62.5%; */
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 40vh;
    margin: auto;
    padding: 2vw;
    gap: 0.25rem;
    background-color: azure;
    border: solid 1.25px purple;
    border-radius: 10px;
    margin-top: 2vw;
}

form input,
select {
    height: 2rem;
    border: solid 1.25px purple;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#send {
    color: white;
    background-color: purple;
    cursor: pointer;
}

.heading {
    background-color: rgba(128, 0, 128, 0.712);
    color: white;
    padding: 0.5rem;
}

.heading h4:nth-of-type(2) {
    padding-left: 5rem;
}

span {
    color: rgba(128, 0, 128, 0.712);
    display: none;
}

.umsatz {
    background-color: rgba(128, 0, 128, 0.748);
    color: white;
    padding: 0.5rem;
}

.output {
    border: 1.25px solid rgba(128, 0, 128, 0.485);
    border-radius: 5px;
}

.gesamt {
    background-color: rgba(128, 0, 128, 0.375);
    color: white;
    padding: 0.5rem;
}

.gesamt p {
    filter: invert(0.8);
}

.heading,
.umsatz,
.gesamt {
    display: flex;
    justify-content: space-between;
}
