* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding: 10vw;
    width: 80%;
    margin: 5vw auto;
    perspective: 1500px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.306);
}

.card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    transform: rotatex(10deg) rotateY(-30deg) rotateZ(5deg);
    margin-bottom: -10px;
}

.card:hover {
    opacity: 1;
    transition: 0.5s;
    transform: rotateY(0) rotateX(0);
    transform: scale(1.3);
    position: relative;
    z-index: 5;
}

.card1 {
    background-color: rgba(0, 255, 255, 0.9);
    position: relative;
    z-index: 3;
}

.card1:hover {
}
.card2 {
    background-color: rgba(255, 228, 196, 0.9);
    position: relative;
    z-index: 2;
}

.card3 {
    background-color: rgba(137, 43, 226, 0.9);
}
