@font-face {
    font-family: PT;
    src: url(./assets/fonts/PTSerif-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: PT;
}

img {
    max-width: 100%;
}

header {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    background-image: url(./assets/images/tree.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    background-color: transparent;
}

header a {
    text-decoration: none;
    color: white;
    margin-right: 40px;
    padding-top: 20px;
    font-size: 1.25rem;
}

header a:hover {
    color: rgb(12, 224, 30);
}
header h1 {
    margin-left: 40px;
    opacity: 0.8;
}
